{% extends 'millm/base.html' %}
{% load static debugger_tags %}

{% block title %}CNC$led{% endblock %}

{% block Hero %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <h1>Welcome to <span>CNC$led</span></h1>
    <h2>2.5D millimg</h2>
    <div class="d-flex">
      <a href="#portfolio" class="btn-get-started scrollto">Get Started</a>
      <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->

    <video
      id="my-video"
      class="video-js"
      controls
      preload="auto"
      width="640"
      height="264"
      poster="/media/MY_VIDEO_POSTER.jpg"
      data-setup="{}"
      >
      <source src="/media/output.mp4" type="video/mp4" />
      <!-- source src="MY_VIDEO.webm" type="video/webm" / -->
      <p class="vjs-no-js">
	To view this video please enable JavaScript, and consider upgrading to a
	web browser that
	<a href="https://videojs.com/html5-video-support/" target="_blank"
           >supports HTML5 video</a
				  >
      </p>
    </video>

    <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
    </div>
  </div>
</section><!-- End Hero -->
{% endblock %}

{% block portfolio %}
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    {% if photo_list %}
    <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Галерея</h2>
      <h3> <span>галерея</span></h3>
      <p></p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">Все</li>
	  {% for gall in gallery_list %}
	  <li data-filter=".filter-{{ gall.slug|lower }}">{{ gall.title }}</li>
	  {% endfor %}

          {# <li data-filter=".filter-app">App</li> #}
        </ul>
      </div>
    </div>
    
    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
      {% for photo, phgals in photo_list %}
      {% for gal in phgals %}
      <div class="col-lg-4 col-md-6 portfolio-item filter-{{ gal|lower }}">
	<img src="{{ photo.get_display_url }}" class="img-fluid" alt="">
	<div class="portfolio-info">
          <h4>{{ photo.title }}</h4>
          <p>{{ photo.gallery }}</p>
          <a href="{{ photo.get_display_url }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{ photo.title }}"><i class="bx bx-plus"></i></a>
	  <a href="/photo/{{ photo.slug|lower }}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
	</div>
      </div>
      {% endfor %}
      {% endfor %}

    </div>
    </div>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</section><!-- End Portfolio Section -->
{% endblock %}

{% block okak %}
<!-- ======= Portfolio Section ======= -->
<section id="okak" class="portfolio">
    {% if galleri_list %}
    <div class="container" data-aos="fade-up">

	<div class="section-title">
	    <h2>Так</h2>
	    <h3><span>так</span></h3>
	    <p></p>
	</div>

	<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
	    {% for gal in galleri_list %}
	    <div class="col-lg-4 col-md-6 portfolio-item filter-{{ gal.slug|lower }}">
		<a href="/galleri/{{ gal.slug|lower }}">
		    <img src="{{ gal.extended.image.url }}" class="img-fluid" alt="">
		</a>
		<div class="portfolio-info">
		    <h4>{{ gal.title }}</h4>
		    {# <a href="{{ gal.extended.image.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{ gal.title }}"><i class="bx bx-plus"></i></a> #}
		    {# <a href="/galleri/{{ gal.slug|lower }}" class="details-link" title="More Details"><i class="bx bx-link"></i></a> #}
		</div>
	    </div>
	    {% endfor %}
	</div>
    </div>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</section><!-- End okak Section -->
{% endblock %}

{% block contacts %}
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    
    <div class="section-title">
      <h2>Контакты</h2>
      <h3><span>Свяжитесь с нами</span></h3>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-6">
        <div class="info-box mb-4">
          <i class="bx bx-map"></i>
          <h3>Адрес</h3>
          <p>Грибоедово, Респ. Мордовия, 430905</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
          <i class="bx bx-envelope"></i>
          <h3>E-mail</h3>
          <p>mcdv@bk.ru</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
          <i class="bx bx-phone-call"></i>
          <h3>Телефон</h3>
          <p>+7 927 191 2837</p>
        </div>
      </div>

    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-6 ">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21360.211183878157!2d45.308618891432516!3d54.12380987960768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4143f7a6559f5a8b%3A0xb9c2456f9a26bcc0!2z0JPRgNC40LHQvtC10LTQvtCy0L4sINCg0LXRgdC_LiDQnNC-0YDQtNC-0LLQuNGPLCA0MzA5MDU!5e1!3m2!1sru!2sru!4v1643896484157!5m2!1sru!2sru" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="col-lg">
	{% comment %} 
	<form method="post" action="/contact_email/" role="form" class="php-email-form">
	      {% csrf_token %}
              <div class="row">
		<div class="col form-group">
		  <input type="text" name="name" class="form-control" id="name" placeholder="Имя" required>
		</div>
		<div class="col form-group">
		  <input type="email" class="form-control" name="email" id="email" placeholder="Ваш E-mail" required>
		</div>
              </div>
              <div class="form-group">
		<input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" required>
              </div>
              <div class="form-group">
		<textarea class="form-control" name="message" rows="5" placeholder="Ваше сообщение:" required></textarea>
	      </div>
	      <div class="my-3">
		<div class="loading">Loading</div>
		<div class="error-message"></div>
		<div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
	      <div class="text-center"><button type="submit">Отправить</button></div>
	</form>
	<form method="post" action="/contact_email/">
	  {% csrf_token %}
          <div class="row">
	    <div class="col form-group">
	      <input type="text" name="name" class="form-control" id="name" placeholder="Имя" required>
	    </div>
	    <div class="col form-group">
	      <input type="email" class="form-control" name="email" id="email" placeholder="Ваш E-mail" required>
	    </div>
          </div>
          <div class="form-group">
	    <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" required>
          </div>
          <div class="form-group">
	    <textarea class="form-control" name="message" rows="5" placeholder="Ваше сообщение:" required></textarea>
	  </div>
	  <div class="text-center"><button type="submit">Отправить</button></div>
	</form>
	{% endcomment %} 
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->
{% endblock %}

